.velaone_dashboard_overlay_app {    
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:0;
    left:calc(100% - 325px);
    width: 325px;
    height: 500px;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
}

.app_body_container {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: lightskyblue;
}

.module_helper_container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: lightgreen;
}

.get_address_from_account_field {
    position: relative;
    display:flex;
    padding: 0;
    justify-content: center;
    width: 165px;
    height: 1.5rem;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;

    span {
        align-self: center;
        width: 100%;
    }
}